<form action="post" action="http://localhost:8080/files" enctype="multipart/form-data">
    <fieldset>
        <legend>Formulaire de test d'envoi d'image</legend><br>
        <label for="upload_file">Choisir un fichier</label>
        <input type="file" name="upload_file"> <br><br>
        <label for="upload_file">Description de l'image</label>
        <input type="text" name="description"> <br><br>

        <input type="text" name="userId" value="668fc044409cd0943692f503" hidden>
        <input type="submit" value="submit">
    </fieldset>
</form>